* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #012949;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    width: 100%;
}
.handwritting {
    font-family: 'Pacifico', cursive;
}
.info {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #FEEBD9;
    z-index: 999;
    padding: 10px;
}

.container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
}

/* ======== AKHIR BAGIAN SET UP ========================================================= */

/* ======== AWAL HEADER ========================================================= */

.container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #FEDFCC;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}
.container header > * {
    padding: 5px;
}
.container header
.brand {
    font-size: 1.3em;
    text-transform: capitalize;
    cursor: pointer;
    animation: kedip 1s infinite ease;
}
@keyframes kedip {
    from {
    }
    50%{
        color: #86B3C4;
        transform: scale(1.2) translateX(0.2);
        box-shadow: 0 0 0 0.1em#012949;
    }
    to{

    }
}

.container header
.navbar {
    width: 50%;
    display: grid;
    /* gap: 50px; */
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    position: relative;
}
.container header
.navbar .step {
    border: 2px solid #86B3C4;
    background-color: #FEDFCC;

    border-radius: 50%;
    display: grid;
    text-align: center;
    align-items: center;
    /* padding: 10px; */
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
    cursor: pointer;
    transition: 0.5s ease;
}
.container header
.navbar > .step:hover {
    background-color: #86B3C4;
    color: white;
}
.container header
.navbar
.step.active {
    background-color: #86B3C4;
    color: white;
}
.progress {
    position: absolute;
    width: 80%;
    height: 5px;
    top: 45%;
    overflow: hidden;
    /* border: 1px solid black; */
    
}
.progress div {
    text-align: right;
    border-top: 5px solid #86B3C4;
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}
/* ======== AKHIR HEADER ========================================================= */

.container main {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    position: relative;
    border: 10px solid #FEDFCC;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    margin-top: 15px;
    box-sizing: border-box;
    height: 653px;
}
.container main
.content {
    position: relative;
    width: 100%;
    border: 5px solid white;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 30px;
    height: 545.44px;
}
.container main
.content > * {
    position: absolute;
}
.content img {
    z-index: 6;
    width: 300%;
    transition: all 1s ease-in;
}
.button {
    position: absolute;
    bottom: 2.5%;
    background-color: white;
    border-radius: 50%;
    border: 1px solid greenyellow;
    font-size: 2em;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.btn-left {
    left: 45%;
}
.btn-right {
    left: 55%;
}
.slide1 {
        transform: 
        translateY(-30%)
        translateX(0%);
}
.slide2 {
        transform: 
        translateY(-50%)
        translateX(0%);
}
.slide3 {
        transform: 
        translateY(-50%)
        translateX(-30%);
}
.slide4 {
        transform: 
        translateY(-30%)
        translateX(-30%);
}
.slide5 {
        transform: 
        translateY(-30%)
        translateX(-59%);
}
.slide6 {
        transform: 
        translateY(-50%)
        translateX(-59%);
}


/* responsive breakpoint */

/* wide */
@media screen and (min-width:1440px){
    .container{
        width: 1024px;
    }
}
/* screen 1024px */
@media screen and (max-width:1024px){
    .container main{
        height: 500px;
    }
    .container main 
    .content{
        height: 400px;
    }
    
}

/* tablet */
@media screen and (max-width:768px){
    .container {
        width: 90%;
    }
    .container main {
        height: 800px;
    }
    .container header
    .navbar{
        /* gap: 30px; */
    }
}
/* phone */
@media screen and (max-width:600px){
    .container header {
        flex-direction: column-reverse;
    }
    .brand {
        /* margin-bottom: 10px; */
    }
    .container header
    .navbar{
        width: 80%;
    }
}